<h2>App lista de reproducción</h2>
<div class="flex flex-row justify-around mt-6">
  <app-form-list></app-form-list>

  <div class="relative overflow-x-auto">
    <ng-container *ngIf="view">
      <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Buscar presionando Enter: {{result}} </label>
      <input type="text" (keyup.enter)="searchData($event)" [(ngModel)]="query"  placeholder="Título" class="block mb-3 w-full p-4 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-base focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
    </ng-container>
    <ng-container *ngIf="deleteList">
      <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Eliminar presionando Enter: {{result}} </label>
      <input type="text" (keyup.enter)="deleteData($event)" [(ngModel)]="query"  placeholder="Título" class="block mb-3 w-full p-4 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-base focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
    </ng-container>
    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{result}} </label>
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="px-6 py-3">
         Nombre lista
        </th>
        <th scope="col" class="px-6 py-3">
          Descripción
        </th>
        <th scope="col" class="px-6 py-3">
          Ver lista
        </th>
        <th scope="col" class="px-6 py-3">
          Eliminar
        </th>
      </tr>
      </thead>
      <tbody>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700" *ngFor="let item of listObservable | async ">
        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
         {{item.nombre}}
        </th>
        <td class="px-6 py-4">
          {{item.descripcion}}
        </td>
        <td class="px-6 py-4">
          <button (click)="verLista(item)">
            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
              <path fill-rule="evenodd" d="M4.998 7.78C6.729 6.345 9.198 5 12 5c2.802 0 5.27 1.345 7.002 2.78a12.713 12.713 0 0 1 2.096 2.183c.253.344.465.682.618.997.14.286.284.658.284 1.04s-.145.754-.284 1.04a6.6 6.6 0 0 1-.618.997 12.712 12.712 0 0 1-2.096 2.183C17.271 17.655 14.802 19 12 19c-2.802 0-5.27-1.345-7.002-2.78a12.712 12.712 0 0 1-2.096-2.183 6.6 6.6 0 0 1-.618-.997C2.144 12.754 2 12.382 2 12s.145-.754.284-1.04c.153-.315.365-.653.618-.997A12.714 12.714 0 0 1 4.998 7.78ZM12 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" clip-rule="evenodd"/>
            </svg>
          </button>
        </td>
        <td class="px-6 py-4">
          <button (click)="dropList(item)">
            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7.757 12h8.486M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
            </svg>
          </button>
        </td>
      </tr>

      </tbody>
    </table>
  </div>

</div>

